* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0px;
    padding: 0px;
    /*outline: solid rgba(255, 0, 0, 0.5) 1px;*/
}

:root {
    --color-back-1:  #222;
    --color-back-2:  #090909;
    --color-base-1:  #42b;
    --color-base-2:  #448;
    --color-high-1:  #4b8;
    --color-high-2:  #488;
    --color-text-1:  #eee;
    --color-text-2:  #bbb;
    --color-text-3:  #ddd;
    --color-text-4: #eaeaea;
    --color-tier-2a: #d396ff ;
    --color-tier-2b: #d4bce4 ;
    --color-blu: #58E;
    --color-blu-ex: #8EE;
    --color-lim: #0D5;
    --color-lim-ex: #ad5;
    --color-red: #B01;
    --color-red-ex: #d81;
    --color-pin: #F8E;
    --color-pin-ex: #FB8;
     
}

html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;

    min-height: 100vh;
    margin: 0;

    background-color: var(--color-back-1);
    color: var(--color-text-1);
}

main {
    flex: 1;
    
    background-color: var(--color-back-1);
    color: var(--color-text-1);
    width: clamp(200px,100%,1440px);
    margin-left: auto;
    margin-right: auto;   
}


.module-head {
    position: sticky;
    top: 1.6rem;
    z-index: 10;

    box-shadow: inset 0 5px 12px -3px #00000022;

}

.module-head {
    cursor: pointer;    
    
    /*position: relative;*/

    display: grid;
    grid-template-columns: 1fr 2vw ;
    justify-items: center;
    align-items: center;
}

.module-head:hover .icon {
    filter: saturate(2) hue-rotate(20deg) contrast(1.8);
}

.module-head:hover h2 {
    transform: translateY(-3px);
}


.module-head h2 {
    grid-area: 1 / 1 / -1 / -1 ;
    align-self: center;
    transition: transform 0.3s ease-out;
}

.module-head .icon {
    grid-area: 1 / 2 / -1 / -1 ;    
    justify-self: start;
    position: relative;    
    
    transform:  rotate(405deg);
    width: clamp(0.5em,4vw,1.5em);
    height: clamp(0.5em,4vw,1.5em);    
    transition: filter 0.6s, transform 0.8s ease ;
}



.module[open] .i-fill { 
    
    transform: scale(0.5) rotate(45deg);
    
}


.module[open] .i-border { 
    
    background-color: var(--color-red);
    
}



.module .i-border {
    position: absolute;
    box-sizing: border-box;
    background-color: var(--color-base-1);
    border: solid 2px #dddddd55;
    border-radius: 0 0px 0 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;    
    transform:  rotate(-450deg);
    transition: background-color 0.6s, transform .6s  ease-in ;
}

.module .i-fill {
    position: absolute;
    clip-path: polygon(
        20% 0%, 0% 20%,
        30% 50%, 0% 80%,
        20% 100%, 50% 70%,
        80% 100%, 100% 80%,
        70% 50%, 100% 20%,
        80% 0%, 50% 30%);
    background-color: var(--color-text-2);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: scale(0.5);
    transition: transform .2s  ease-in ;
}


.four-panel, .quad-fix {
    display: grid;    
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: clamp(5px,2vw,40px);
    padding: clamp(5px,2vw,40px);
    
}

@media screen and (min-width: 600px) {

    .four-panel {        
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: clamp(5px,2vw,40px);
    padding: clamp(5px,2vw,40px);
    }

    .module-head {
    grid-template-columns: 1fr 40px ;    
    }

    .module[open] .icon { 
    transform-origin: center center;
    transform:  rotate(0deg);
    }

    .module[open] .i-border { 
    transform-origin: center center;
    transform:  rotate(0deg);
    
    background-color: var(--color-red);
    }

    .module[open] .i-fill { 
    
    transform: scale(0.5) rotate(0deg);
    
}
    

} 

@media screen and (min-width: 1000px) {

    .four-panel {        
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr ;
    gap: clamp(5px,1vw,40px);
    padding: clamp(5px,1vw,40px);
    }
} 

@media screen and (min-width: 800px) {

.quad-fix{        
    
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: 1fr 1fr ;
    gap: clamp(5px,4vw,80px);
    
    }
}  

@media screen and (min-width: 1400px) {

.quad-fix{        
    
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    grid-template-rows: 1fr  ;
    gap: 10px;
    
    }
}



#sticky-frame {
    position: fixed; 
    width: clamp(calc(200px - 2rem),calc(100% - 2rem),calc(1440px - 2rem)); /* same as main - default section margin*/
    margin: 0rem 1rem 0rem 1rem;

    text-align: center;
    height: 0rem;     
    overflow: visible;
    top: 0;
    z-index: 18;    
}

#sticky-title {    
    position: sticky;
    text-align: center;
    font-family: "comfortaa";
    padding: 0.4rem;
    font-size: 0.8rem;   
    background-color: var(--color-back-1);      
    font-weight: 100;
    
}

#sticky-wall {
    position: absolute;
    width: clamp(calc(200px - 2rem),calc(100% - 2rem),calc(1440px - 2rem)); /* same as main - default section margin*/
    margin: 0rem 1rem 0rem 1rem;

    height: 6rem;
    transform: translateY(-15%);

    background-image: linear-gradient(var(--color-back-1) 90%, transparent);
    z-index: 19;
}



.main-title-container

{
    z-index: 20;
    
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    border-bottom: solid 2px var(--color-text-2);
    background-color: var(--color-back-2);
    
    text-align: center;
    padding: 0.4rem;
    margin: 0rem 1rem 0 1rem;
}

.four-logo {
box-sizing: border-box;
    
    margin: 0 1rem 0 1rem;
    width: 0.7rem;
    height: 0.5rem;
    background-color: black;

    border-radius: 40% 0 ;

    box-shadow: -8px  8px 0 2px var(--color-lim),
                 8px  -8px 0 2px var(--color-pin),
                
                -8px -6px 0 2px var(--color-blu),                 
                 8px  6px 0 2px var(--color-red);
                

    
    transform: scaleX(100%) translateX(-24%) scale(60%) rotate(15deg) ;

}

.new-logo {
    box-sizing: border-box;
    
    margin: 0 1rem 0 1rem;
    width: 1rem;
    height: 1rem;
    background-color: transparent;

    border-radius: 50% 0 50% 50% ;

    box-shadow: 4px -4px 0 -2px white,
                
                -4px -8px 0 -2px var(--color-blu),                 
                 8px  4px 0 -2px var(--color-pin-ex),
                -6px  -6px 0 0px var(--color-lim-ex),
                 6px   6px 0 0px var(--color-red);

    
    transform: translateY(20%) scaleX(100%) rotate(315deg) ;
    

}




#event-title h1 {
    position: relative;
    
    font-size: 1.2rem;
  
    
    letter-spacing: 0.35rem;
    font-weight: 100;
    z-index: 20;
}

#event-title > p {
    
    font-family: "Comfortaa", sans-serif;
    position: relative;
    text-align: center;
    background-color: var(--color-back-1);

    margin: 0rem 1rem 1rem 1rem;
        
    
    
    padding: 0.5rem;
    text-shadow: 0px 2px 2px black;
    z-index: 20;

}





#help {
    margin: 1rem;
    background-color: var(--color-text-1);
    color: var(--color-back-2);
}

#help .module-head {
    background-color: var(--color-text-1);
}

.flux-panel {
    margin: 1rem 0.5rem 2rem 0.5rem;
    border: solid 2px var(--color-text-3);
}

.flux-panel  summary {
    display: inline-block;    
    transform: translateX(25%) translateY(-60%);
    background-color: var(--color-text-1);
    
    padding: 0 1rem 0 1rem ;
    border: solid 2px var(--color-text-3);
    
    top: 6.5rem;
    position: sticky;
    z-index: 9;

    cursor: pointer;

    width: 12rem;
}

.flux-panel .help-icon {
    position: absolute;
    width: 20px;
    height: 20px;
    transform: translateX(-250%) translateY(-100%);
    background-color: var(--color-text-1);
    border: solid 1px var(--color-text-2);
    
}

.flux-panel .help-i-int {
    position: relative;
    width: 10px;
    height: 10px;
    
    background-color: var(--color-high-1);    
    transform: translateX(50%) translateY(50%) rotate(45deg);
    
    clip-path: polygon(
        20% 0%, 0% 20%,
        30% 50%, 0% 80%,
        20% 100%, 50% 70%,
        80% 100%, 100% 80%,
        70% 50%, 100% 20%,
        80% 0%, 50% 30%);
    
    transition: background-color 0.5s ease, transform 0.5s ease;
}

.flux-panel[open] .help-i-int {
    background-color: var(--color-red);    
    transform: translateX(50%) translateY(50%) rotate(0deg);
}


.flux-grid div {
    margin: 0.5rem;
}


#flux-0 .flux-grid,
#flux-1 .flux-grid,
#flux-2 .flux-grid,
#flux-3 .flux-grid {
    display: grid;    

    align-items: center;
    justify-items: center;
}

#flux-3 #P04 {
        display: none;
    }

/* ## Media Queries */     

@media screen and (min-width: 800px) {

    #flux-1 .flux-grid {
        
        display: grid;
        grid-template-columns: 4fr 1fr 4fr 1fr 4fr;        
        grid-template-areas:
        " I01 P01 I02 P02 I03 ";
        margin: 1rem;
        align-items: center;
        justify-items: center;
    }

    #flux-2 .flux-grid {
        grid-template-columns: 4fr 1fr 4fr 1fr 4fr;
        
        
        grid-template-areas:
        " I01 P01 I02 . . "
        " . P02 . .  .       "
        "  I03 P03 I04   P04 I05 ";
        
        
        
        /*
        grid-template-areas:
        " I01 P01 I02 P02 I03 "
        " . . . .         P03"
        "  .  .   I05 P04 I04 ";
        */

        margin: 1rem;
        align-items: center;
        justify-items: center;
    }

    /*
    #flux-3 .flux-grid {
        grid-template-columns: 2fr 2fr 1fr 2fr 2fr;
        
        grid-template-areas:
        " . I01 I01 I01 . "
        " . P01 . P02 . "        
        "  I02 I02 . I03 I03"
        " . P03 . P04 . "
        ". I04 I04 I04 . "
        "  . . P05 . ."
        "  . I05 I05 I05 . ";
        margin: 1rem clamp(1rem,30vw,7rem) 1rem clamp(1rem,30vw,7rem) ;
        align-items: center;
        justify-items: center;
    }*/

    #flux-3 .flux-grid {
        grid-template-columns: 4fr 1fr 4fr 1fr 4fr;
        
        
        grid-template-areas:
        " I01 P01 I02 . . "
        " P02 . P03 .  .       "
        " I03 P04 I04   P05 I05 ";       
        
        

        margin: 1rem;
        align-items: center;
        justify-items: center;
    }

    #flux-1 .flux-item,
    #flux-2 .flux-item,
    #flux-3 .flux-item {
        grid-template-columns: 1fr;
        align-self: start;       
    }
    
    #flux-1 #P01, #flux-1 #P02, #flux-1 #P03,
    #flux-2 #P01, #flux-2 #P03, #flux-2 #P04,
    #flux-3 #P01, #flux-3 #P04, #flux-3 #P05
    {        
        transform: rotate(-90deg);
        z-index: 5;        
    }

    #flux-2 #P02 {transform: rotate(45deg);}
    #flux-3 #P04 {display: block;}
    #help .flux-item p {text-align: center;}
   

    #help #I01 {grid-area: I01;}
    #help #I02 {grid-area: I02;}
    #help #I03 {grid-area: I03;}
    #help #I04 {grid-area: I04;}
    #help #I05 {grid-area: I05;}

    #help #P01 {grid-area: P01;}
    #help #P02 {grid-area: P02;}
    #help #P03 {grid-area: P03;}
    #help #P04 {grid-area: P04;}
    #help #P05 {grid-area: P05;}

}


@media screen and (min-width: 1200px) {
    #flux-1 .flux-item,
    #flux-2 .flux-item,
    #flux-3 .flux-item {
        grid-template-columns: 1fr 4fr;
        align-self: center;       
    }
    #help .flux-item span {height: 8rem;}
    .flux-panel {
        padding: 0 clamp(20px,5vw,200px);
    }
}

/* ## Media Queries End*/

.flux-pointer {
    box-sizing: border-box;
    width: 40px;
    height: 40px;
    background-image: linear-gradient(45deg, #00000000 40%, var(--color-high-2) 40.01% , var(--color-high-1) 48% 59.99% , #00000000 60%);
    border-right: Solid 8px var(--color-high-1) ;
    border-bottom: Solid 8px var(--color-high-2) ;    
    border-radius: 5px 10px 5px 10px ;
    rotate: 45deg;
    box-shadow: inset -4px -4px 0 1px var(--color-high-1);
    
}

#flux-2 .flux-pointer {    
    background-image: linear-gradient(45deg, #00000000 40%, var(--color-base-2) 40.01% , var(--color-base-1) 48% 59.99% , #00000000 60%);
    border-right: Solid 8px var(--color-base-1) ;
    border-bottom: Solid 8px var(--color-base-2) ;        
    box-shadow: inset -4px -4px 0 1px var(--color-base-1);        
    opacity: 80%;
}

#flux-2 .flux-item span {
    background-color: var(--color-base-1);
    color: var(--color-text-3);
    opacity: 80%;
}

#flux-3 .flux-pointer {    
    background-image: linear-gradient(45deg, #00000000 40%, var(--color-red-ex) 40.01% , var(--color-red) 48% 59.99% , #00000000 60%);
    border-right: Solid 8px var(--color-red) ;
    border-bottom: Solid 8px var(--color-red-ex) ;        
    box-shadow: inset -4px -4px 0 1px var(--color-red);        
    opacity: 80%;
}

#flux-3 .flux-item span {
    background-color: var(--color-red);
    color: var(--color-text-3);
    opacity: 80%;
}





.flux-item {
    width: 80%;
    padding: 1rem;
    background-color: var(--color-text-1);
    border: solid 5px var(--color-text-3);   
    border-radius: 20px ;
    box-shadow: inset 0px -5px 10px 5px var(--color-text-4);
    
    
    display: grid;
    position: relative;
    grid-template-columns: 1fr 5fr;
    align-items: center;
    
}

.flux-item span {
    background-color: var(--color-high-1);
    color: var(--color-text-3);
    font-size: 3rem;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    
    font-weight: bolder;    
    border-radius: 1.2rem;
    
    padding: 0.5rem;
    
    width: auto;
    overflow: hidden;
}

.flux-item p, .flux-solo p {
    font-family: "Comfortaa", sans-serif;
    letter-spacing: 0.03rem;
    line-height: 1.5rem;
    padding: 0.5rem;
    text-align: left;
    text-wrap: pretty;
    
}

.flux-solo p {
    
    text-indent: 0.4rem;
    hyphens: auto;

}

.flux-solo strong,
.flux-item strong {
    font-family: "Comfortaa", sans-serif;
    font-weight: 800;
    background-color: var(--color-text-3);    
    padding: 0.2rem 0.2rem;
    border-radius: 5px;
}


.flux-item [data-lucide] {
    
    background-color: var(--color-text-3);
    margin: px 0px 0px 0px;
    padding: 3px;
    border-radius: 5px;
    transform: scale(1.4); 
    
    
}

#flux-1 [data-lucide] {color: var(--color-high-1);}
#flux-2 [data-lucide] {color: var(--color-base-1);}
#flux-3 [data-lucide] {color: var(--color-red);}


.flux-solo {
    
    width: 80%;    
    padding: 0.5rem;
    margin: 2rem;
    background-color: var(--color-text-1);
    border: solid 5px var(--color-text-3);   
    border-radius: 20px ;
    box-shadow: inset 0px -5px 10px 5px var(--color-text-4);
}

.flux-solo > p {
    text-align: justify;
}



#donate {margin: 1rem;}

#donate .module-head {background-color: var(--color-back-2);    
}

#donate h2 {      
    text-align: center;
    color: var(--color-text-1);
    
    
    
}

#donate-panel {
    background-color: var(--color-back-2);   
}


.donate-card {
    
    
    position: relative;
    background-color: var(--color-back-1);
    
    
    padding: 1rem 0 0 0;
    
    box-shadow: 2px 2px 5px #00000077;
    
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
    
    justify-items: center;
}

.donate-card h3 {    
    text-align: center;    
    font-size: 1.8rem;
    letter-spacing: 0.2rem;
    background-color: black;
    border-radius: 5px;
    align-self: center;
    border-top: solid 0.2rem transparent;
    padding: 1rem;
    
    
}

.donate-card h3 > a {    
    color: var(--color-text-2);
    font-weight: 500;
    text-decoration: none;
    border-bottom: 2px dotted var(--color-high-1);
    font-size: 1.8rem;
    letter-spacing: 0.4rem;
}

.dp-sub-title {
    font-size: 1.3rem;
    text-wrap: balance;
    align-self: center;
    
}

.dp-info-1 {
    grid-area: 2 / 1 / 3 / 3 ;
    align-self: center;
    background-color: black;
    text-wrap: pretty;
}

.dp-info-2 {
    grid-area: 3 / 1 / 4 / 3 ;
    align-self: top;
    border-left: solid 0.2rem black;
    text-wrap: pretty;
}



.donate-card > * {
    font-family: "Comfortaa", sans-serif;
    padding: 0.5rem;
    margin: 0.5rem;
    box-sizing: border-box;
}

.extra-spacing {
    letter-spacing: 0.5rem;
}

.donate-card em {
    
    font-family: 'Courier New', Courier, monospace;
    background-color: #ddbb8844;

    user-select: all;
    -webkit-user-select: all;
    -moz-user-select: all;
    -ms-user-select: all;
    cursor: copy;

    
}



.donate-card p {
    line-height: 1.7rem;
}


#dp1 {
    h3 {
    border-color: var(--color-red-ex);    
    }
    .dp-info-2 {
        border-color: var(--color-red-ex);
    }
}

#dp2 {
    h3 {
    border-color: var(--color-high-1);
    }
    .dp-info-2 {
        border-color: var(--color-high-1);
    }
}

#dp3 {
    h3 {
    border-color: var(--color-red);
    }
    .dp-info-2 {
        border-color: var(--color-red);
    }
}

#dp4 {
    h3 {
    border-color: var(--color-lim-ex);
    }
    .dp-info-2 {
        border-color: var(--color-lim-ex);
    }
}





.module h2 { /* ? Antes "#info h2" - em testes */
    padding: 1rem;
    text-align: center;
    padding-bottom: 1rem;
    letter-spacing: 0.25rem;
    text-transform: uppercase;
}

#info {
    background-color: var(--color-base-2);    
    margin: 1rem;
}

#info .module-head {
    background-color: var(--color-base-2);
}

#info h3 {
    text-align: center;
    margin-top: 1rem;
    letter-spacing: 0.25rem;
    text-transform: uppercase;
    background-color: var(--color-back-1);
    color: var(--color-back-2);
}

#ip-1 h3{
    color: var(--color-blu);
}

#ip-2 h3 {
    color: var(--color-lim);
}

#ip-3 h3 {
    color: var(--color-red);
}

#ip-4 h3 {
    color: var(--color-pin);
}

#info-head {
    background-color: var(--color-text-1);
    color: var(--color-back-2);
    margin: 0 1rem 1rem;
    padding: 0.5rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

#info-head p {
    margin: 0.175rem ;
    padding: 0.5rem;
    border: solid 2px var(--color-text-2);
}

#info-panel {
    margin: 1rem;
    
    border: solid 2px #ffffff22;
}

#info-panel p {
    text-align: center;
    margin: 1rem;    
    
}

.air {
    display: block;
    height: 0.1rem;
}

.tag-box {
    width: 100%;
    display: flex;
    flex-flow: row wrap;    
    justify-content: center;
    align-content: center;
    
   

    
}


.tag {
    
    display: inline-block;    
    border-radius: 10px 0px 10px 10px;
    

    margin: 0.2rem;
    padding: 0.4rem 1rem 0.4rem 1rem;
    
    

    /* * Seleção por clique */
    user-select: all;
    -webkit-user-select: all;
    -moz-user-select: all;
    -ms-user-select: all;
    cursor: copy;    
    
    background-color: var(--color-back-2);
    position: relative;

}

.tag-text {
    
    position: relative; 
    z-index: 2;        
    display: inline;
}


/* * Fallback */
#ip-1 .tag-text {
    color: var(--color-blu-ex);
}

#ip-2 .tag-text {
    color: var(--color-lim-ex);
}

#ip-3 .tag-text {
    color: var(--color-red-ex);
}

#ip-4 .tag-text {
    color: var(--color-pin-ex);
}




@supports (background-clip: text)  { /* !! Não funciona no Fox */

    #ip-1 .tag-text, #cat-blu .tag-text {
        background: repeating-linear-gradient(in hsl 45deg,
        var(--color-blu) 10%,
        var(--color-blu-ex) 20%,
        var(--color-blu) 30%        
        );               
        background-attachment: fixed;
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;

        background-size: 100% 100%;
        transition: background-size 1s;
    }



    #ip-2 .tag-text, #cat-lim .tag-text {
        background: repeating-linear-gradient(in hsl 45deg,
        var(--color-lim) 10%,
        var(--color-lim-ex) 20%,
        var(--color-lim) 30%        
        );              
        background-attachment: fixed;
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;

        background-size: 100% 100%;
        transition: background-size 1s;
    }
    
    #ip-3 .tag-text, #cat-red .tag-text {
        background: repeating-linear-gradient(in hsl 45deg,
        var(--color-red) 10%,
        var(--color-red-ex) 20%,
        var(--color-red) 30%        
        );              
        background-attachment: fixed;
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;

        background-size: 100% 100%;
        transition: background-size 1s;
    }
    
    #ip-4 .tag-text, #cat-pin .tag-text {
        background: repeating-linear-gradient(in hsl 45deg,
        var(--color-pin) 10%,
        var(--color-pin-ex) 20%,
        var(--color-pin) 30%        
        );              
        background-attachment: fixed;
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;

        background-size: 100% 100%;
        transition: background-size 1s;
    }    

    #categories .category-title:hover  {
    background-size: 100% 20%    
    }
    
    #ip-1 .tag:hover .tag-text {
    background-size: 100% 50%;
    }

    #ip-2 .tag:hover .tag-text  {
    background-size: 100% 50%;
    }

    #ip-3 .tag:hover .tag-text  {
    background-size: 100% 50%;
    }

    #ip-4 .tag:hover .tag-text  {
    background-size: 100% 50%;
    }
}





#categories {
    margin: 1rem;    
    background-color: var(--color-high-2)    
}

#categories .module-head {    
    background-color: var(--color-high-2)    
}



.category-container{
    margin: 0.5rem;    
    

    padding: 1rem;
    background-color: var(--color-back-1);
    


    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 4fr;
    gap: 0.5rem;
    
    
    justify-items: center;
}

.game-card {
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;

    align-self: end;    
    border: solid 2px #55555555;

    height: 100%;
}

#categories summary {
    
    
    
    list-style: none;    
    cursor: pointer;
    
}

#categories .category-title  {    
    display: block;
    justify-content: center;
    box-sizing: border-box;
    

    text-transform: capitalize;
    font-family: "Comfortaa", sans-serif;
    left: 50%;
    
    

    width: min(30rem,70vw);   

    border: 3px solid var(--color-text-2);
    border-radius: 20px;

    cursor: pointer;
    list-style: none;
    
}



#categories .category-title:hover  {
    transform: translateY(-5%);  
    background-size: 150% 100%;

}


#cat-blu .tag-border {
    border: 2px solid transparent; 
    
    background-image: 
    linear-gradient(var(--color-back-2), var(--color-back-2)), 
    repeating-linear-gradient(45deg, var(--color-blu) 20%, var(--color-blu-ex) 40%, var(--color-blu) 60%); 
    
    background-origin: border-box;
    background-clip: padding-box, border-box;
    background-size: 100% 100%;
    
    border-radius: 12px; 
    transition: background-size 1s;
}

#cat-lim .tag-border {
    border: 2px solid transparent; 
    
    background-image: 
    linear-gradient(var(--color-back-2), var(--color-back-2)), 
    repeating-linear-gradient(45deg, var(--color-lim) 20%, var(--color-lim-ex) 40%, var(--color-lim) 60%); 
    
    background-origin: border-box;
    background-clip: padding-box, border-box;
    background-size: 100% 100%;
    
    border-radius: 12px; 
    transition: background-size 1s;
}

#cat-red .tag-border {
    border: 2px solid transparent; 
    
    background-image: 
    linear-gradient(var(--color-back-2), var(--color-back-2)), 
    repeating-linear-gradient(45deg, var(--color-red) 20%, var(--color-red-ex) 40%, var(--color-red) 60%); 
    
    background-origin: border-box;
    background-clip: padding-box, border-box;
    background-size: 100% 100%;
    
    border-radius: 12px; 
    transition: background-size 1s;
}

#cat-pin .tag-border {
    border: 2px solid transparent; 
    
    background-image: 
    linear-gradient(var(--color-back-2), var(--color-back-2)), 
    repeating-linear-gradient(45deg, var(--color-pin) 20%, var(--color-pin-ex) 40%, var(--color-pin) 60%); 
    
    background-origin: border-box;
    background-clip: padding-box, border-box;
    background-size: 100% 100%;
    
    border-radius: 12px; 
    transition: background-size 1s;
}




#categories img {
    width: 100%;
    
    object-fit: cover;
    
}

.t1-games, .t2-games {
    
    padding: 0 0 1.5rem 0;
    border: 2px solid #444444ff;
    border-radius: 1rem;
    width: 100%;    
}

.t1-games {border: 2px solid var(--color-text-2);margin-bottom: 1rem;}
.t2-games {border: 2px solid var(--color-tier-2b);}

.tier-title {
    font-family: "Comfortaa", sans-serif;
    
    position: relative;
    align-items: center;
    text-align: center;
    
    

    padding: 5px;
    
    letter-spacing: 0.5rem;
    font-size: 1.25rem;
    font-weight: 100;
    
    margin: 5px 5% 0px 5%;
}




.t1-games .tier-title {   
    
   
    color: var(--color-text-1);

    
    ;



}

.t2-games .tier-title {   

    color: var(--color-tier-2a);

}





.tier-line {

    margin: auto;
    height: 1px;
    width: 80%;    
    border: dotted 2px var(--color-back-1);   
    transform: skewX(60deg);
}

.t1-games .tier-line{
    background-image: linear-gradient(90deg , var(--color-back-1) 20% ,var(--color-text-4),var(--color-back-1) 80%);
}

.t2-games .tier-line{
    background-image: linear-gradient(90deg , var(--color-back-1) 20% ,var(--color-tier-2a),var(--color-back-1) 80%);
}








details.t1-games[open] summary,
details.t2-games[open] summary {
    color: transparent;
    background-color: var(--color-back-1);
    border: solid 2px var(--color-text-2);    
}

.game-card p {

    text-align: center;
    letter-spacing: 0.3rem;
    font-size: 1.2rem;
    font-weight: bolder;
    margin: 0.2rem;

}

#categories .tier-obs p {
    
    font-family: "Comfortaa", sans-serif;
    font-weight: 700;

    position: relative;
    align-self: center;
    
    color: var(--color-text-2);
    line-height: 1.7rem;


    text-align: justify;
    


    margin: 1rem auto 1rem auto;
    padding: 1rem;
    border-top: solid 2px var(--color-text-2);
    
    width: clamp(50vw,80%,500px);

}



/* ##  Extra Info */
#extra-info {
    box-sizing: border-box;
    
    margin: 1rem;    
    background-color: var(--color-back-2);
    
    
}

#extra-info-title {
    background-color: var(--color-back-2);
}


#extra-info-panel {
    width: 100%;
    display: grid;    
    grid-template-columns: 1fr;
    gap: 1rem;
 
}



@media screen and (min-width: 1000px) {
   
    #tier-panel {grid-area: A;}
    #stream-info {grid-area: B;}
    #rules {grid-area: C;}
    #ranking-bonus {grid-area: D;}

   
    #extra-info-panel {    
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    grid-template-areas:
    "A B"
    "C D"
    ;
    }
}

/*
@media screen and (min-width: 1200px) {
   
    #tier-panel {grid-area: A; grid-row: 1 / -1;}
    #stream-info {grid-area: B;}
    #rules {grid-area: C;}
    #ranking-bonus {grid-area: D;}

   
    #extra-info-panel {    
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: min-content;
    gap: 1rem;
    grid-template-areas:
    "A B"
    "A B"
    "A C"
    "A C"
    "A D"
    "A D"
    ;
    }
}*/

.extra-info-element {
    
    box-sizing: border-box;
    
    border: solid 2px #444;
    background-color: var(--color-back-2);
    margin: 0 0.5rem;

    background-image:
    radial-gradient( var(--color-back-2) 80%, #000000AA),
    radial-gradient(var(--color-base-2));
    
    padding: 1rem;    
    border-radius: 10px;
    height: 100%;
}

.extra-info-element > p, .extra-info-element li {
    font-family: "Comfortaa", sans-serif;
    line-height: 2.4rem;
    border-top: solid 2px #444;
    margin: 0.5rem;
    text-indent: 0.5rem;
    color: var(--color-text-4);
    
    padding: 0.5rem;
    opacity: 95%;
    list-style: none;
    
}

#extra-info .extra-info-element h4 {
    font-family: "Comfortaa", sans-serif;
    font-size: 1.2rem;
    line-height: 2.4rem;    
    margin: 0.5rem;
    text-wrap: balance;
    color: var(--color-back-2);
    background-color: var(--color-text-1);
    padding: 0.5rem;
    opacity: 95%;
}

#extra-info .extra-info-element strong {
    font-family: "Comfortaa", sans-serif;
    line-height: 2.4rem;
    
    
    text-indent: 0.5rem;
    background-color: var(--color-base-2);
    color: var(--color-text-1);
    padding: 0.4rem 0.2rem 0 0.2rem ;
    opacity: 95%;
}

#tier-panel {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    
}

#tier-table {
    
    display: grid;
    grid-template-columns: 1fr;
    width: 90%;
    padding: 10px 0 10px 0;

}

.table-line
{
    
    display: grid;
    grid-template-columns: 3fr 4fr 5fr;
    p {
        font-family: 'Courier New', Courier, monospace;
        text-align: center;
        border-bottom: solid 2px var(--color-high-2);
        padding: 6px 0.2rem 4px 1.2rem;
        text-align: left;
        
    }
}

.table-line .t2 {
        color: var(--color-tier-2b);
        border-bottom: solid 2px var(--color-tier-2a);
}

#shortcut {
    position: fixed;
    bottom: 0;    
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
    z-index: 10;

    width: clamp(100px,90%,500px);

    border-top: solid 4px var(--color-back-2);
    border-left: solid 4px var(--color-back-2);
    border-right: solid 4px var(--color-back-2);
    
}

#shortcut-title  {    
    font-family: monospace;
    background-color: var(--color-high-2);
    list-style: none;
    padding: 0.8rem;
    text-align: center;
    
}

#shortcut-bar {    
    background-color: var(--color-base-2);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
   
    

}

#shortcut-bar .short-button {
    display: grid;
    grid-template-columns: 1fr;
}

#shortcut-bar .sb-tx1, #shortcut-bar [data-lucide] {
    padding: 0.25rem;
    text-align: center;
    justify-self: center;
    text-transform: uppercase;
    font-family: monospace;
    letter-spacing: 0.08rem;

}

#shortcut-bar [data-lucide] {
    border-radius: 50%;
    margin-top: 0.5rem;
}

#shortcut-bar a {
    text-decoration: none;
    color: var(--color-text-3);
    box-shadow: inset 0 0 0 0px #ffffff55;

    transition: color 0.4s, box-shadow 0.4s ease ;
}

#shortcut-bar a:hover {
    box-shadow: inset 0 0 0 3px #ffffff55;
    color: var(--color-tier-2a);
    
}



#shortcut-bar .sb-tx2{display: none;}

#i-home {
    color: var(--color-high-2);
    background-color: var(--color-back-1);
}

#i-pk2p {
    color: rgb(255, 61, 155);
    background-color: #EEE;
}

#i-pnav {
    color: rgb(61, 255, 174);
    background-color: #014237;
}


#i-pix {
    color: rgb(238, 238, 238);
    background-color: #30b6a7;
}

#i-pp {
    color: #64cefe;
    background-color: #082f95;
}

@media screen and (min-width: 600px) {

    #shortcut {
    position: fixed;
    bottom: 1vw;    
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
    z-index: 10;

    width: clamp(100px,90%,500px);

    border: solid 4px var(--color-back-2);   
    }

    #shortcut-title  {        
    padding: 0.4rem;    
    letter-spacing: 0.2rem;
    font-size: 1.2rem;
    text-transform: uppercase;    
    }


}

@media screen and (min-width: 1700px) {

#shortcut {
    position: fixed;
    bottom: auto;    
    
    top: 1vw;    
    left: calc(50% - (1520px / 2) - 80px);
    transform: translateX(-50%);
    cursor: pointer;
    z-index: 10;

    width: 120px;

    border: solid 4px var(--color-back-2);
    transform: translateX(0%); 
    }

    #shortcut-title  {        
       
    letter-spacing: 0.2rem;
    font-size: 1.2rem;
    text-transform: uppercase;    
    }

    #shortcut-bar {    
    background-color: var(--color-base-2);
    display: grid;
    grid-template-columns: 1fr;
    
    }

    #shortcut-bar .short-button {
    display: grid;
    grid-template-rows: 1fr 1fr ;   
    }


    #shortcut-bar .sb-tx2,
    #shortcut-bar .sb-tx1 {
    display: inline;
    padding: 0.3rem 0 0 0 ;
    text-align: center;
    justify-self: center;
    text-transform: uppercase;
    font-family: monospace;
    letter-spacing: 0.08rem;

}
}

/* !! complexidade em controlar largura de container de ícones    
@media screen and (min-width: 600px) {
    
    #shortcut {
        position: fixed;

        display: grid;
        grid-template-columns: 20px 1fr;

        top: 50%;    
        right: 0%;

        transform: translateY(-50%);
        cursor: pointer;
        z-index: 10;

        

        border: solid 4px var(--color-back-2);        
        
    }

    #shortcut-title  {    
    font-family: monospace;
    background-color: var(--color-high-2);
    list-style: none;
    padding: 0.2rem;
    text-align: center;
    writing-mode: vertical-rl;
    text-orientation: upright;
    text-transform: uppercase;
    
    }

    #shortcut-bar {    
    background-color: var(--color-base-2);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr  1fr 1fr 1fr 1fr;
    }
}

*/

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    

    border-top: 3px solid #00000088;
    background-image:   linear-gradient(var(--color-base-2) -20% ,var(--color-back-2) 100%),
                        repeating-linear-gradient(45deg, rgb(0, 0, 0) 1rem, rgb(80, 80, 80) 2rem),
                        repeating-linear-gradient(-45deg, rgb(90, 90, 90) 1rem, rgb(15, 15, 15) 2rem);
    background-blend-mode: hard-light,hard-light,normal;

    
    height: 12rem;
    transition: filter 2s ease-in-out;
}

footer:hover {
    filter: hue-rotate(-45deg) brightness(1.75) contrast(1.15);
}

footer > p {
    
    width: 70%;
    font-family: "comfortaa" ;
    font-size: 0.7rem;

    color: var(--color-text-2);
    margin: 1rem;
    text-align: center;
    background-color: #00000044;

}





/* ## Extreme Zoom/Low resolution Queries */

@media screen and (max-width: 400px) {
    
    #flux-1 .flux-item,
    #flux-2 .flux-item,
    #flux-3 .flux-item {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }

    * h2, h3, h4 {
        font-size: 1rem;        
    }

    #donate .donate-card > p,
    #donate .donate-card > h3,
    #donate .donate-card h3 > a,
    #extra-info .extra-info-element
    {
        font-size: 0.8rem;
    }


}